#login{
  margin-bottom: 1em;
}

.form-row{
  margin-bottom: 0.5em;
  .btn{
    margin-right: 1em;
  }
}

.card{
  margin-bottom: 2em;
}

.point{
  padding: 0.5em 0.3em;
  img{
    width: 100%;
    height: 150px;
  }
}

.modal{
  img{
    width: 100%;
    height: 150px;
  }
}

#map {
 // position:absolute;
  top:0;
  bottom:0;
  width:100%;
  height: 15em;
}

.coordinates {
  background: rgba(0,0,0,0.5);
  color: #fff;
 // bottom: 10px;
  left: 10px;
  //padding:5px 10px;
 // margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}
.mapboxgl-popup {
  max-width: 200px;
}
#marker {
  background-image: url('http://icons.iconarchive.com/icons/icons-land/vista-map-markers/256/Map-Marker-Marker-Outside-Pink-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.icon{
  display: inline-block;
  fill: red;
  img {
    width: 15px;
    height: 15px;
    display: inline-block;
    fill: red;
    cursor: pointer;
  }
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Styling h1 and links
––––––––––––––––––––––––––––––––– */
h1[alt="Simple"] {color: black;}
a[href], a[href]:hover {color: grey; font-size: 1em; text-decoration: none}


.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

