<div class="container" id="main-container" ng-controller="forgetCtrl">
    <div class="row justify-content-md-center">
        <div class="card">
            <div class="card-header" style="color:blue; font-size: 30px; text-align:center; font-family:Comic Sans MS; font-weight: bold;">
                Forget Password
            </div>
            <div class="card-body">
                <form>

                    <div class="form-row">
                        <div class="col-md-6 mb-3 ">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username" size="35" ng-model="username" required>
                        </div>
                    </div>
                    <button class="btn btn-primary" ng-click="ShowHide()">Send</button>
                    <br/>
                    <br/>
                    <!-- <img src="../../assets/loading.gif" width="50" height="50" ng-hide="loading"> -->

                </form>
                <div ng-show="IsVisible">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label >Answer the question:</label>
                            <select class="form-control" id="question1" ng-model="user.question" ng-options="x for x in UserQuestins" required>
                                <option value="" selected="selected">Please choose a question</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="answer"></label>
                            <input type="text" class="form-control" place-holder="answer" id="answer" placeholder="" ng-model="user.answer" required>
                        </div>
                    </div>
                    <button class="btn btn-secondary" ng-click="CheckPass()">Password Please</button>
                </div>

                <div ng-show="showpassword">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Your password is:</label>
                            <p>{{pass}}</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>